[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/myuzhgyan
[access "refs/for/refs/*"]
	read = group user/myuzhgyan
	push = group user/myuzhgyan
	label-Code-Review = -2..+2 group user/myuzhgyan
	label-Verified = -1..+1 group user/myuzhgyan
	rebase = group user/myuzhgyan
	removeReviewer = group user/myuzhgyan
	submit = group user/myuzhgyan
[access "refs/heads/*"]
	read = group user/myuzhgyan
	create = group user/myuzhgyan
	push = +force group user/myuzhgyan
	pushMerge = group user/myuzhgyan
[access "refs/tags/*"]
	push = group user/myuzhgyan
	push = +force group user/myuzhgyan
